*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.left{
    width: 30%;
    height: 100vh;
    background-color: rgb(222, 222, 222);
    transition: all .3s ease-in-out;
    /* display: none; */
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.left-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 10vh;
    width: 100%;
    background-color: (255, 255, 255);
}
main{
    width: 100%;
    height: 100vh;
    background-color: rgb(222, 222, 222);
}
.toggle-sidebar{
    display: none;
}


header{
    width: 100%;
    height: 10vh;
    background-color: rgb(69, 121, 173);
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: white;
    border-bottom: 5px solid white;
}
.hamburger{
    width: 10%;
    transform: scale(1.5);
    padding-left: 20px;
}
header h2{
    width: 60%;
}
header input{
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    outline: 0;
    border: 0;
}

.filter-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
select,input{
    width: 100%;
    padding: 10px;
    /* background-color: aliceblue; */
    outline: 0;
    border: 0;
    border-radius: 5px;
}
